@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900;1000&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

body {
  font-family: 'Cairo', sans-serif;
}

h1 {
  font-size: clamp(1.2rem, 2.3vw, 1.6rem);
  font-weight: 600;
}

h2 {
  font-size: clamp(1.1rem, 2.1vw, 1.4rem);
}

h3 {
  font-size: clamp(1rem, 1.9vw, 1.3rem);
}

h4 {
  font-size: clamp(0.9rem, 1.7vw, 1.1rem);
}

h5 {
  font-size: clamp(0.8rem, 1.5vw, 1rem);
}

h6 {
  font-size: clamp(0.6rem, 1.1vw, 0.8rem);
}

p {
  font-size: clamp(0.6rem, 0.9vw, 0.7rem);
}

.cont {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}
